body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #363636; /* Darker container background color */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color for dark mode */
    text-align: center;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #454545; /* Darker input background color */
    color: #fff;
    border: 1px solid #666; /* Adjust border color for dark mode */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

h1, h2 {
    color: #fff;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    input {
        width: calc(100% - 16px);
    }
}
